# .env.template
PYTHONPATH=<votre chemin de projet>

# base de données PostgresSQL
DBHOST=db_postgres # nom du service docker pour postgres
DBNAME=<nom votre bdd postgres>
DBPORT=5432
DBUSER_RW=<nom user bdd admin>
PASSWORD_RW=<mot de passe user bdd admin>
DBUSER_RO=<nom user bdd lecture seule>
PASSWORD_RO=<mot de passe user bdd lecture seule>
SQL_DATABASE_URL="postgresql://${DBUSER_RW}:${PASSWORD_RW}@${DBHOST}:${DBPORT}/${DBNAME}"

DBNAME_AIRFLOW=<nom bdd pour tables airflow - à choisir>
DBNAME_TICKETMASTER=<nom dhw ticketmaster>
DBNAME_MUSICSHOP=<nom dhw musicshop>
SQL_TICKETMASTER_URL="postgresql://${DBUSER_RW}:${PASSWORD_RW}@${DBHOST}:${DBPORT}/${DBNAME_TICKETMASTER}"
SQL_MUSICSHOP_URL="postgresql://${DBUSER_RW}:${PASSWORD_RW}@${DBHOST}:${DBPORT}/${DBNAME_MUSICSHOP}"

# base de données Mongo db_mongo = nom du service docker pour MongoDB
MONGO_DBNAME=<nom base mongodb>
MONGO_USER=<nom user bd mongo admin>
MONGO_PASSWORD=<mot de passe user bd mongo admin>
MONGO_DATABASE_URL="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@db_mongo:27017/?authSource=admin"

# clé pour l'API générée par cmd: openssl rand -hex 32 
SECRET_KEY=<votre cle secrete generee> 
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# paramètres garage les clés et secrets sont générés par le script setup_infra.sh
DL_ENDPOINT="http://garage:3900"
KEY_ID_DL_RW=       # laisser vide
SECRET_KEY_DL_RW=   # laisser vide
DL_REGION=garage

# utilisation de la clé monotoring-key
KEY_ID_DL_RO=       # laisser vide
SECRET_KEY_DL_RO=   # laisser vide

KEY_ID_LAMBDA=      # laisser vide
SECRET_KEY_LAMBDA=  # laisser vide

LOGS_ROOT_DIR="logs/rejets"

# config Airflow. 
# J'ai gardé les identifiants de la bdd postgres. 
# Pour remplacer par ceux airflow, il faut créer le user et lui donner les droits sur la base airflow
AIRFLOW_DATABASE_URL=postgresql+psycopg2://<nom user bdd admin>:<mot de passe user bdd admin>@db_postgres:5432/<nom bdd pour tables airflow - à choisir>
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_ADMIN_USER=<votre user airflow admin>
AIRFLOW_ADMIN_PASSWORD=<votre mot de passe airflow admin>
AIRFLOW_FIRSTNAME=<votre prénom>
AIRFLOW_LASTNAME=<votre nom>
AIRFLOW_EMAIL=<votre adresse email>
AIRFLOW_UID=<valeur obtenue avec la commande id -u dans un terminal>
AIRFLOW_WEBSERVER_URL=http://localhost/airflow

# variables git pour le events.csv
GIT_RAW_URL="https://raw.githubusercontent.com/TNTlink2/HBM/main/events.csv"
GIT_API_URL="https://api.github.com/repos/TNTlink2/HBM/commits?path=events.csv&sha=main&per_page=1"

# API TicketMaster . 
TICKETMASTER_CONSUMER_KEY=<votre clé API Ticketmaster>
TICKETMASTER_CONSUMER_SECRET=<votre secret API Ticketmaster>

# configaration ngrok
NGROK_AUTHTOKEN=<votre token ngrok>
NGROK_USER=<nom de votre user ngrok>
NGROK_PASSWORD=<mot de passe de votre user ngrok>
NGROK_DOMAIN=<nom de votre domaine ngrok>

# webhook discord pour alerting airflow
DISCORD_WEBHOOK_URL=<votre webhook discord>